{
    GSThemeAuthors = (
	"Prateek Khandelwal",
	"prateekkhandelwal.3@gmail.com"
    );
    GSThemeDetails = "A basic theme, created using multiple components from multiple sources, 
Icons from - Hycons, and Ink
Buttons - self created";
    GSThemeDomain = {
	GSBackHandlesWindowDecorations = NO;
	NSMenuInterfaceStyle = NSNextStepInterfaceStyle;
    };
    GSThemeIcon = "Thematic.png";
    GSThemeLicense = "CC-By-Attribution";
    GSThemeTiles = {
	GSScrollerHorizontalKnob = {
	    FileName = "GSScrollerHorizontalKnob.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	GSScrollerHorizontalSlot = {
	    FileName = "GSScrollerHorizontalSlot.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	GSScrollerVerticalKnob = {
	    FileName = "GSScrollerVerticalKnob.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	GSScrollerVerticalSlot = {
	    FileName = "GSScrollerVerticalSlot.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	NSButton = {
	    FileName = "NSButton.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	NSButtonDisabled = {
	    FileName = "NSButtonDisabled.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	NSButtonHighlighted = {
	    FileName = "NSButtonHighlighted.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	NSButtonSelected = {
	    FileName = "NSButtonSelected.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	NSMenuItem = {
	    FileName = "NSMenuItem.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	NSMenuItemHighlighted = {
	    FileName = "NSMenuItemHighlighted.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
	NSMenuItemSelected = {
	    FileName = "NSMenuItemSelected.png";
	    FillStyle = Scale;
	    HorizontalDivision = 1;
	    VerticalDivision = 1;
	};
    };
    GSThemeVersion = "0.1";
}